* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
  color: #7a8997;
}

.Background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121c24;
}
.ContainerChat {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 80%;
  border: 2px solid #46515e;
  border-radius: 5px;
}

.HeaderChat {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 2px solid #46515e;
  color: #7a8997;
}

.BodyChat {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.ChatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #46515e;
  border-radius: 5px;
}

.RepresentativeBox {
  padding: 10px;
  width: 100%;
}

.UserBox {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TextMessage {
  width: 70%;
  font-size: 12px;
  background-color: #293843;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #46515e;
  margin-bottom: 6px;
}

.Input {
  width: 80%;
  padding: 5px;
  border: 2px solid #46515e;
  border-radius: 5px;
  background-color: #293843;
  color: #7a8997;
}

.FooterChat {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  width: 100%;
  height: 10%;
}
.Button {
  border-radius: 5px;
  border: 2px solid #46515e;
  background-color: #293843;
  color: #7a8997;

  padding: 5px 15px;
  cursor: pointer;
}
